<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Регистрация</title>
  <!-- Bootstrap core CSS-->
  <link href="/all/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/all/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/all/css/sb-admin.css" rel="stylesheet">
  <link rel="shortcut icon" href="/all/img/logo1.ico">
</head>

<body class="bg-light ">

  <header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <a href="index" class="navbar-brand"><img src="/all/img/small_logo.png" style="height: 38px; width: 57px">Private GO</a>
    <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
      <a href="index" class="btn btn-primary">Домой</a>
    </div>
  </nav>
</header>

  <div class="container myform">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Создайте аккаунт</div>
      <div class="card-body">

        <script>
          var getTemp = <%= message %>;
          if(getTemp===1){
            document.write('<div class="alert alert-danger">');
            document.write('<strong>Пароли не совпадают!<\/strong>');
            document.write('<\/div>');
          }
          else if(getTemp===2){
            document.write('<div class="alert alert-danger">');
            document.write('<strong>Такой email уже существует!<\/strong>');
            document.write('<\/div>');
          }
          else if(getTemp===3){
            document.write('<div class="alert alert-danger">');
            document.write('<strong>Заполните все поля!<\/strong>');
            document.write('<\/div>');
          }
        </script>

        <form action="register" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">Электронная почта</label>
            <input class="form-control" id="exampleInputEmail1" name = "username" type="email" aria-describedby="emailHelp" placeholder="Электронная почта">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Пароль</label>
                <input class="form-control" id="exampleInputPassword1" name = "password" type="password" placeholder="Пароль">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Подтвердите пароль</label>
                <input class="form-control" id="exampleConfirmPassword" type="password" name = "password1" placeholder="Подтвердите пароль">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block"><span style="cursor: pointer;">Регистрация</span></button>
          <!--<input type="button" class="btn btn-primary btn-block" id = "button1" href="login.html" value="Регистрация">-->
        </form>
        <div class="text-center">
          <p class="alreadyreg">Уже зарегистрированы? <a href="login">Войдите</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/all/vendor/jquery/jquery.min.js"></script>
  <script src="/all/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/all/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
